AK=
SK=
profile=
region=us-west-2
role=arn:aws:iam::
db_host=127.0.0.1
db_name=llm
db_user=llmdata
db_password=llmdata
api_keys=123456
HUGGING_FACE_HUB_TOKEN=
WANDB_API_KEY=
WANDB_BASE_URL=
SWANLAB_API_KEY=
vllm_image=public.ecr.aws/f8g1z3n8/llm-modelhub-byoc-vllm:latest
training_image=public.ecr.aws/f8g1z3n8/llm-modelhub-llamafactory:latest
easyr1_training_image=public.ecr.aws/f8g1z3n8/llm-modelhub-easyr1:latest
sglang_image=public.ecr.aws/f8g1z3n8/llm-modelhub-byoc-sglang:latest