AK=
SK=
profile=
region=us-west-2
role=arn:aws:iam::
db_host=127.0.0.1
db_name=llm
db_user=llmdata
db_password=llmdata
api_keys=123456
HUGGING_FACE_HUB_TOKEN=
WANDB_API_KEY=
vllm_image=434444145045.dkr.ecr.us-east-1.amazonaws.com/sagemaker_endpoint/vllm:v0.5.5
model_artifact=s3://sagemaker-us-east-1-434444145045/sagemaker_endpoint/vllm//model.tar.gz
MAX_MODEL_LEN=12288